<div class="rows">
  <div class="columns">
    <h2>Sign up</h2>
  </div>
</div>      

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="rows">
    <div class="form-inputs small-3 columns left">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :password, :required => true %>
    </div>
  </div>
  <div class="rows">
    <div class="form-actions columns">
      <%= f.button :submit, "Sign up" %>
    </div>
  </div>
<% end %>

<div class="rows">
  <div class="columns">
    <%= render "devise/shared/links" %>
  </div>
</div>
