%h3= current_user.email
%h4
  Account Balance
  = current_user.balance

%h4
  Recent Purchases
%h4
  Buys
%ul
  -if @buys.present?
    - @buys.each do |buy|
      %li= buy.price
  -else
    %li
      You have no recent purchases.
%h5
  Sells
%ul
  -if @sales.present?
    - @sales.each do |sell|
      %li= sell.price
  -else
    %li
      You have no recent sales.

%h5
  Holdings
%ul
  - if current_user.holdings.present?
    - current_user.holdings.each do |holding|
      %li
        = holding.cash_per_share
        = "#{holding.player.first_name} #{holding.player.last_name}"

  -else
    %li You have no holdings.
