%h1= current_user.email
%h3
  Account Balance
  = current_user.balance

%h2
  Recent Purchases
%h3
  Buys
%ul
  -if @buys.present?
    - @buys.each do |buy|
      %li= buy.price
  -else
    %li
      You have no recent purchases.
%h3
  Sells
%ul
  -if @sales.present?
    - @sales.each do |sell|
      %li= sell.price
  -else
    %li
      You have no recent sales.

%h2
  Holdings
%ul
  - if current_user.holdings.present?
    - current_user.holdings.each do |holding|
      %li= holding.cash_per_share
  -else
    %li You have no holdings.
