%h2
  = Time.now.year
  Draft
-if @players.present?
  - @players.each do |player|
    %ul
      %li
        =link_to player do
          = player.first_name
          = player.last_name
        = link_to 'Buy', "/buys/new/#{player.id}"
        -if current_user.holdings.any?{|holding| holding.player_id == player.id}
          = link_to 'Sell', "/sells/new/#{player.id}"
      %li
        Current Price
        = player.current_price_in_dollars
      %li
        Last Ask
        -if player.last_ask == 0
          No last ask
        -else
          = player.ask_price_in_dollars
-else
  %li No players held.
